
<body class="bg-image">
    <div>
        <mat-toolbar >
           
           <img src="https://play-lh.googleusercontent.com/dxxbxj--rjt2naz-o8QprGF9W8BLbNRs4Kzo8PRjk71cOvcQ3s_f-4VsyAqr9DBnGEci" width="50" routerLink="/expenses" style="cursor: pointer ; margin-right: 20px;">
           
            <span>Expense Tracker</span>
            
          </mat-toolbar></div>
<div>
<div style="margin-top: 20px;">
    <canvas #myChart width="1500" height="800"></canvas>
  </div>
  </div>
  </body>
  